html {
	height: 100%;
    scroll-behavior: smooth;
}

body {
	transition: 0.3s all ease-in-out;
	font-family: Montserrat, "YekanBakh";
}

.main-logo {
	max-width: 80px !important;
}

.pageNumbers {
	list-style: none;
	display: flex;
	align-items: center;
	li {
		padding: 10px;
		cursor: pointer;
		background-color: transparent;
	}
	li.active {
		background-color: #7367F0;
		color: #fff;
	}
}

.validate-error {
	color: red;
	padding: 2px;
	font-weight: 600;
}