body.rtl{
	font-family: YekanBakh;

	.LeftSide {
		.container {
			.SideNav {
				.nav-item {
					cursor: pointer;
					.nav-link {
						svg {
							transition: 0.3s all ease-in-out;
							&:first-child {
								margin-left: 0.8rem;
								margin-right: 0;
							}
							&:last-child {
								margin-right: auto;
								margin-left: 0;
							}
						}
					}
					.nav-link[aria-expanded=false] {
						svg {
							&:last-child {
								transform: rotate(180deg);
							}
						}
					}
					.nav-link[aria-expanded=true] {
						svg {
							&:last-child {
								transform: rotate(90deg);
							}
						}
					}
				}
			}
		}
	}
}

body.Dark.rtl {
	nav {
		.container-fluid {
			.navbar-collapse {
				.navbar-nav {
					.nav-item {
						.dropdown-menu {
							background-color: #283046;
							border-color: #283046;
							box-shadow: 0 0 8px rgba(115, 103, 240, 0.7);
							padding: 0.2rem;
							text-align: right;
							right: auto!important;
							left: 0!important;

							.dropdown-item{
								svg, img{
									margin-left: 0.3rem!important;
									margin-right: unset!important;
								}
							}
						}
					}
					.nav-link{
						svg, img{
							margin-left: .5rem;
						}

						&::after{
							margin-right: .255em;
							margin-left: unset;
						}
					}
				}
			}
		}
	}
	.RightSide {
		padding-left: 0;
		padding-right: 1rem;
	}
}

body.Light.rtl {
	nav {
		.container-fluid {
			.navbar-collapse {
				.navbar-nav {
					.nav-item {
						.dropdown-menu {
							background-color: #ffffff;
							border-color: #ffffff;
							box-shadow: 0 0 8px rgba(34, 41, 47, 0.7);
							padding: 0.2rem;
							text-align: right;
							right: auto!important;
							left: 0!important;

							.dropdown-item{
								svg, img{
									margin-left: 0.3rem!important;
									margin-right: unset!important;
								}
							}
						}
					}

					.nav-link{
						svg, img{
							margin-left: .5rem;
						}

						&::after{
							margin-right: .255em;
							margin-left: unset;
						}
					}
				}
			}
		}
	}
	.RightSide {
		padding-left: 0;
		padding-right: 1rem;
	}
}