body{
    &.Dark{
        nav{
            background-color: $SecondaryBlue;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            box-shadow: 0 8px 25px -8px #283046;
        
            .container-fluid{
                .navbar-brand{
                    width: 200px;
                }
        
                .navbar-collapse{
                    .navbar-nav{
                        .nav-item{
                            display: flex;
                            align-items: center;
        
                            img{
                                width: 20px;
                            }
        
                            .dropdown-menu{
                                background-color: $SecondaryBlue;
                                border-color: $SecondaryBlue;
                                box-shadow: 0 0 10px 1px rgb(115 103 240 / 70%);
                                padding: .2rem;
                                .dropdown-item{
                                    color: $DefaultFontColor;
                                    border-radius: 5px;
                                    svg{
                                        width: 15px;
                                        margin-right: .3rem;
                                    }
        
                                    &:hover{
                                        color: $SecondaryBlue;
                                    }
                                }
                            }
        
                            .nav-link{
                                color: $DefaultFontColor;
                                svg{
                                    width: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.Light{
        nav{
            background-color: $DefaultFontColor;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            box-shadow: 0 0 15px 0 rgb(34 41 47 / 5%);
        
            .container-fluid{
                .navbar-brand{
                    width: 200px;
                }
        
                .navbar-collapse{
                    .navbar-nav{
                        .nav-item{
                            display: flex;
                            align-items: center;
        
                            img{
                                width: 20px;
                            }
        
                            .dropdown-menu{
                                background-color: $DefaultFontColor;
                                border-color: $DefaultFontColor;
                                box-shadow: 0 0 15px 0 rgb(34 41 47 / 5%);
                                padding: .2rem;
                                .dropdown-item{
                                    color: $LightFontColor;
                                    border-radius: 5px;
                                    svg{
                                        width: 15px;
                                        margin-right: .3rem;
                                    }
        
                                    &:hover{
                                        color: $SecondaryBlue;
                                    }
                                }
                            }
        
                            .nav-link{
                                color: $LightFontColor;
                                svg{
                                    width: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}