body{
  &.Dark{
    .RightSide{
      padding-left: 1rem;
      padding-right: 0;
    
      nav{
        background-color: transparent;
        box-shadow: none;
        ol{
          li{
            a{
              color: $DefaultFontColor;
            }
          }
    
          .active{
            color: $PrimaryBlue;
          }
        }
      }
    
      .container-fluid{
        background-color: $SecondaryBlue;
        border-radius: 15px;
        padding: 1rem;
    
        color: $DefaultFontColor;
      }
    }
  }

  &.Light{
    .RightSide{
      padding-left: 1rem;
      padding-right: 0;
    
      nav{
        background-color: transparent;
        box-shadow: none;
        ol{
          li{
            a{
              color: $LightFontColor;
            }
          }
    
          .active{
            color: $PrimaryBlue;
          }
        }
      }
    
      .container-fluid{
        background-color: $DefaultFontColor;
        border-radius: 15px;
        padding: 1rem;
        box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
        color: $LightFontColor;
      }
    }
  }
}